.root {
  
  display: flex;
  padding-left: 24px;
  user-select: none;
  flex: 1 1 auto;

  .minHidden {
    @media (max-width: 660px) {
      display: none;
    }
  }
  
  .leftNav {
    display: flex;
    flex: 0 0 auto;
  }

  .rightNav {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
  }

  .navItem {
  
    padding-top: 6px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;

    .navLabel {
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 6px;
      margin-left: 5px;
      margin-right: 5px;
      font-weight: 400;
    }

  }

  .iconItem {
    
    padding: 6px;
    
    img {
      width: 35px;
      height: 35px;
      border-radius: 35px;
    }
    
  }

  .buttonItem {
  
    margin-right: 6px;
     
  }

  .logoutItem {
    
    @media(max-width: 660px) {
      display: none;
    }

  }

}

.link {
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
}

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, .6);
  i {
    font-size: 36px;
  }
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.highlight {
  border-radius: 3px;
  background: rgba(255, 255, 255, .15);
  color: #fff;
}

.highlight:hover {
  background: rgba(0, 0, 0, .3);
}

.spacer {
  color: rgba(255, 255, 255, .3);
}


