.saveTransaction {
  
  width: 100%;
  display: flex;
  margin-top: -12px;
  margin-bottom: 16px;
  padding-bottom: 12px;
 
  .topGroup {
    display: flex;
    width: 50%;
  }
  
  .bottomGroup {
    display: flex;
    width: 50%;
  }

  .type {
    
    flex: 1 1 0;
    padding-left: 6px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
    
    > button { 
      > div {
        > i {
          vertical-align: middle;
        }
      }
    }

  }

  .amount {
    flex: 1 1 0;
    padding-left: 6px;
  }
  
  .description {
    flex: 1 1 0;
  }

  .category {
    flex: 4 1 0;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
  }

  .submit {
    position: relative;
    display: flex;
    flex: 1 1 0;
    align-items: flex-end;
    padding-bottom: 8px;
    
    > button { 
      > div {
        > i {
          vertical-align: middle;
        }
      }
    }
  }

}
