.saveTransaction {
  
  width: 100%;
  max-width: 420px;
  margin: auto;
  margin-bottom: 16px;
  padding-bottom: 12px;
  
  .editTxHeader {
    
    width: 100%;
    padding-top: 12px;
    display: flex;

    .editTxLabel {
      flex: 1 1;
      font-weight: 600;
    }

    .deleteTx {
      flex: 1 1;
      text-align: right;
      padding-right: 8px;
    }
  
  }

  .groupLabel {
    font-size: 12px;
    position: absolute;
    top: -6px;
    left: 24px;
    color: rgba(0, 0, 0, 0.5);
  }

  .topGroup {
    display: flex;
    width: 100%;
    position: relative;
  }
  
  .descGroup {
    width: 100%;
  }
  
  .extraGroup {
    
    width: 100%;
    padding-bottom: 12px;
    position: relative;
    margin-top: 16px;

  }

  .buttonsGroup {
    display: flex;
    padding-top: 12px;
    width: 100%;
  }
    
  .status {
    width: 100%;
    text-align: center;
  }
  
  .sign {
    
    flex: 1 1;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
    position: relative;
 
    .signIcon {
      font-size: 36px;
      padding: 0px;
      margin-left: -14px;
    }
    
  }

  .amount {
    position: relative;
    flex: 1 1;
    padding-left: 6px;
  }
  
  .description {
    padding-left: 12px;
    padding-right: 12px;
  }

  .category {
    flex: 4 1;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
    position: relative;
  }

  .cancel {
    
    position: relative;
    display: flex;
    flex: 1 1;
    align-items: flex-end;
    padding-bottom: 8px;
    
    > button { 
      > div {
        > i {
          vertical-align: middle;
        }
      }
    }
  }
  .submit {
    
    position: relative;
    display: flex;
    flex: 1 1;
    align-items: flex-end;
    padding: 8px;
     
    > button {
      > div {
        > i {
          vertical-align: middle;
        }
      }
    }
  }
  
  .repetitionSettings {
    
    display: flex;

    .repetitionType {
      flex: 1 1;
      position: relative;
    }

    .repetitionValue {
      flex: 1 1; 
      position: relative;
    }

  }

}
