.saveTransaction {
  
  width: 100%;
  max-width: 420px;
  margin: auto;
  margin-bottom: 16px;
  padding-bottom: 12px;
   
  .topGroup {
    display: flex;
    width: 100%;
  }
  
  .descGroup {
    width: 100%;
  }
  
  .buttonsGroup {
    display: flex;
    padding-top: 12px;
    width: 100%;
  }
    
  .status {
    width: 100%;
    text-align: center;
  }
  
  .sign {
    
    flex: 1 1;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
    
    > button { 
      > div {
        > i {
          vertical-align: middle;
        }
      }
    }

  }

  .amount {
    flex: 1 1;
    padding-left: 6px;
  }
  
  .description {
    padding-left: 12px;
    padding-right: 12px;
  }

  .category {
    flex: 4 1;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
  }

  .cancel {
    
    position: relative;
    display: flex;
    flex: 1 1;
    align-items: flex-end;
    padding-bottom: 8px;
    
    > button { 
      > div {
        > i {
          vertical-align: middle;
        }
      }
    }
  }
  .submit {
    
    position: relative;
    display: flex;
    flex: 1 1;
    align-items: flex-end;
    padding-bottom: 8px;
    
    > button { 
      > div {
        > i {
          vertical-align: middle;
        }
      }
    }
  }
  
  .repetitionSettings {
    
    display: flex;

    .repetitionType {
      flex: 1 1;
    }

    .repetitionValue {
      flex: 1 1; 
    }

  }

}
