.root {  
  background-color: white;
  padding-bottom: 24px;
  max-width: 1000px;
  margin: auto;
}

.banner {

  background-color: #333;
  color: white;
  text-align: center;
  padding-top: 20px;
  position: relative;
  overflow: hidden;

  .bannerBg {

    top: 0px;
    right: 0px;
    width: 100%;
    position: relative;
    max-height: 500px;
    margin-top: -20px;

    @media screen and (orientation:portrait) {
      width: 150%;
      max-height: initial;
    }

    > img {
      
      width: 100%;
      
      @media(min-width: 1100px) {
        margin-top: -100px;
      }

      @media screen and (orientation:portrait) {
        margin-left: -65%;
      }
    }
  
  }

  .bannerContainer {
    
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .bannerContent {
      display: inline-block;
      text-shadow: 1px 0px 16px rgba(0, 0, 0, 1);
    }

  }
  
  .smallHeading {
    font-size: 22px; 
  }
  
  .bigHeading {
    font-size: 42px;
    font-weight: bold; 
  }

  h1 {
    margin: 0px;
  }

}

.content {

  max-width: 660px;
  padding: 24px;
  margin: auto;
  text-align: center;
  
  position: relative;

  .loginButton {
  }

}
