.root {  
  padding-bottom: 24px;
}

.banner {

  background-color: #333;
  color: white;
  text-align: center;
  padding-bottom: 64px;
  padding-top: 20px;
  
  .smallHeading {
    font-size: 22px; 
  }
  
  .bigHeading {
    font-size: 42px;
    font-weight: bold; 
  }

  h1 {
    margin: 0px;
  }

}

.content {

  max-width: 660px;
  padding: 24px;
  margin: auto;
  text-align: center;
  
  position: relative;

  .loginButton {
  }

}
