.root {
  user-select: none;
}

.graph {
  
  width: 100%;
  margin: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #f0f0f0;
 
  .graphLabel {
    width: 100%;
    text-align: center;
    padding-bottom: 12px;
    font-weight: bold;
  }

  .graphContainer {
    margin: auto;
    text-align: center;
  }
  
  .chartContent {
    text-align: left;
  }
 
  .chartSettings { 
    
    display: flex;

    .signSelector {
      flex: 1 1 auto;
      display: inline-block;
      width: 100px;
    }
  
    .range {
      
      flex: 1 1 auto;
      display: flex;
      align-items: center;
 
      .monthSelector {
        
        flex: 1 1 auto;
        text-align: right;
        
        .selectorLabel {
          font-size: 12px;
          padding-right: 10px;
        }
         
        .monthInc {
          display: inline-block;
          cursor: pointer;
        }
        .monthDec {
          display: inline-block;
          cursor: pointer;
        }
        
        .monthLabel {
          display: inline-block;
        }
        
        i {
          vertical-align: middle;
          margin-bottom: 3px;          
        }

      }
 
    }
 
  }

}
