.root {
}

.graph {
  
  width: 100%;
  max-width: 420px;
  margin: auto;
  padding-top: 24px;
  padding-bottom: 24px;
   
  .graphLabel {
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
  }

  .graphContainer {
    margin: auto;
  }
  
  .chartSettings { 
    
    display: flex;
    
    .signSelector {
      flex: 1 1 auto;
      display: inline-block;
      width: 100px;
    }
  
    .range {
      
      flex: 1 1 auto;
      display: flex;
      align-items: center;
 
      .monthSelector {
        
        flex: 1 1 auto;
        text-align: right;
        
        .selectorLabel {
          font-size: 12px;
          padding-right: 10px;
        }
         
        .monthInc {
          display: inline-block;
          cursor: pointer;
        }
        .monthDec {
          display: inline-block;
          cursor: pointer;
        }
        
        .monthLabel {
          display: inline-block;
        }
        
        i {
          vertical-align: middle;
          margin-bottom: 3px;          
        }

      }
 
    }
 
  }

}
