@import "../variables.scss";

.root {
  padding-bottom: 24px;  
  background-color: #f0f0f0;
}

.saveTransaction {
  
  width: 100%;
  display: flex;
  padding-bottom: 4px;
  background-color: white;
  position: relative;

  .quickTxLabel {
    position: absolute;
    top: 4px;
    right: 8px;
    font-weight: 500;
    font-size: 14px;
  }

  .topGroup {
    display: flex;
    width: 50%;
  }
  
  .bottomGroup {
    display: flex;
    width: 50%;
  }

  .sign {
    
    flex: 1 1;
    padding-left: 2%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
    
    > button { 
      > div {
        > i {
          vertical-align: middle;
        }
      }
    }

  }

  .amount {
    flex: 1 1;
    padding-left: 6px;
    position: relative;
  }
  
  .description {
    
    flex: 2 1;
    @media (max-width: 660px) {
      display: none;
    }

  }

  .category {
    overflow: hidden;
    flex: 2 1;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
    @media (max-width: 660px) {
      flex: 4 1;
    }
  }

  .submit {
    position: relative;
    display: flex;
    flex: 1 1;
    align-items: flex-end;
    padding-bottom: 8px;
    padding-right: 8px;
    @media (min-width: 660px) {
      padding-right: 2%;
      padding-left: 2%;
    }

  }

}

.noGoal {
  padding: 12px;
  text-align: center;
  margin: auto;
  background-color: #f0f0f0;
}

.goal {
  
  text-align: center;
  margin: auto;

  .goalLabel {
    font-size: 12px;
    margin-bottom: 4px;
  }

}

.month {
  
  position: relative;
  padding-top: 12px;
  padding-bottom: 32px;
  background-color: white;
 
  .monthHeader {
    
    width: 90%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    position: relative;
    font-weight: 500;
    padding-bottom: 6px;
 
    > i {
      position: absolute;
      top: -2px;
      right: 4px;
      cursor: pointer;
    }    

  }

  .monthLine {
    width: 100%;
    height: 1px;
    top: 31px;
    background-color: #e0e0e0;
    position: absolute;
  }

  .monthData {
      
    text-align: center;
    width: 90%;
    max-width: 600px;
    margin: auto;
    position: relative;
    background-color: white;
    
    display: flex;
    
    .sectionLabel {
      font-size: 12px;
      text-align: left;
      margin-bottom: 2px;
      margin-left: 2px;
    }
    
    .sectionValue {
      
      font-size: 32px;
      font-weight: 300;
      
      @media (max-width: 380px) {
        font-size: 26px;
      }
      
      .euroSign {
        font-size: 24px;
        font-weight: 100;
        @media (max-width: 380px) {
          font-size: 14px;
        }
      }
      
    }

    > div {
      padding-top: 2px;
      padding-left: 3px;
      padding-bottom: 4px;
    }

    > div:nth-child(1) {
      flex: 1 1;
    }
    
    > div:nth-child(2) {
      
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      flex: 1 1;
      position: relative;
      
    }
    
    .savingsCell {
    
      flex: 1 1;
      position: relative;
    
      .sectionLabelContainer {
        
        position: relative;
        height: 16px;
        overflow: hidden; 

        .sectionLabel {
          
          position: absolute;
          font-size: 12px;
          left: 4px;
          top: 0px;
          transition: top 200ms ease-out;
        
        }

        .sectionLabelAlt {
           
          position: absolute;
          font-size: 12px;
          left: 4px;
          top: 24px;
          transition: top 200ms ease-out;

        }

      }
      
      .sectionValueContainer {

        position: relative;
        height: 38px;
        overflow: hidden;
            
        .goalContent {
          position: absolute;
          width: 100%;
          top: 0px;
          left: 0;
          transition: top 200ms ease-out;
        }

        .goalContentAlt {
          position: absolute;
          width: 100%;
          top: 40px;
          left: 0;
          transition: top 200ms ease-out;
        }

      }

      &:hover {
        
        .sectionLabel {
          top: -24px;
        }
        .sectionLabelAlt {
          top: 0px;
        }
        
        .goalContent {
          top: -40px;
        }
        .goalContentAlt {
          top: 0px;
        }

      }

    }
    
    > div:nth-child(4) {
      flex: 2 1;
    }
    
    .periodSwitch {
      position: absolute;
      bottom: -22px;
      left: -1px;
      width: 100%;
      background-color: white;
      font-size: 12px;
      display: flex;
      .periodSwitchCell {
        flex: 1 1;
        cursor: pointer;
      }
    }

  }

}

.futureTransactions {
  
  width: 100%;
  max-width: 660px;
  margin: auto;  
  padding-top: 0px;
  overflow: hidden;
  transition: height 500ms ease-out, padding-top 500ms ease-out;
  
  .futureTransactionsList {
    
    width: 100%;
    max-width: 420px;
    margin: auto;

    .futureTransaction {
      
      display: flex;
      padding-left: 6px;
      padding-bottom: 2px;
      padding-top: 2px;
       
      .futureTxDate {
        padding-left: 3%;
        flex: 1 1;
      }    
      
      .futureTxAmount {
        flex: 1 1;
      }    
      
      .futureTxCategory {
        flex: 2 1;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
      }       
      
      .futureTxDescription {
        
        flex: 2 1;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        @media (max-width: 660px) {
          display: none;
        }

      }

    }

  }

}

.noTransactions {
  margin-top: 16px;
  text-align: center;
}

.transactions {
   
  width: 100%;
  max-width: 420px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 6px;
  text-align: center;
 
  .transactionsList {
     
    .transactionBox {
      
      height: 36px;
      position: relative;
      width: calc(100% - 16px);
      margin: auto;
      text-align: right;

      &:hover {
        .transaction {
          left: -72px;
          top: -4px;
          width: 100%;
          height: 44px;
          z-index: 1;
        }
      }

    }

    .transaction {
    
      display: flex;
      position: absolute;
      width: calc(100% - 10px);
      top: 0px;
      left: 0px;
      height: 36px;
      background-color: white;
      padding-left: 6px;
      border: 1px solid #f0f0f0;
      align-items: center;
      text-align: center;

      transition: top 200ms, left 200ms, width 200ms, height 200ms;

      .txAmount {
        flex: 1 1;
        padding-left: 3%;
      }       
       
      .txCategory {
        flex: 2 1;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
      }       
      
      .txDescription {
        
        flex: 2 1;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        @media (max-width: 660px) {
          display: none;
        }

      }
      
      .txDate {
        
        flex: 1 1;
      
        > i {
          
          vertical-align: bottom;
          color: #e0e0e0;
          @media (min-width: 361px) {
            display: none;
          }

        }

      }       
       
    }

    .txControls {
      
      display: inline-block;
      margin-right: 4px;

      .txControlContainer {
        
        display: inline-block;
        vertical-align: super;
        margin-top: 3px;
        
        > div {
          padding-top: 3px;
          margin-right: 3px;
          cursor: pointer;
          display: inline-block;
        }
      }

    }
     
  }

}

.monthSummary {
  
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
  border-bottom: 1px solid #f0f0f0;

  .monthNav {

    width: 90%;
    max-width: 600px;
    margin: auto;
    padding-bottom: 12px;
    display: flex;

    .nextMonth {
      margin-top: 1px;
      text-align: left;
      flex: 1 1;
    }

    .currentMonth {
      text-align: center;
      flex: 1 1;
    }
    
    .prevMonth {
      margin-top: 1px;
      text-align: right;
      flex: 1 1;
    }

  }

  .summaryLabel {
    display: inline-block;
    vertical-align: sub;
    text-align: center;
    font-weight: 500;  
  }
  
  .summaryData {
    
    width: 100%;
    text-align: right;
    position: relative;

    .futureButton {
      position: absolute;
      left: 6px;
      bottom: -36px;
      cursor: pointer;
      z-index: 1;
      > i {
        font-size: 36px;
      }
    }

    .dataSelector {
      
      display: inline-block;
      text-align: right;
      margin-right: 6px;
      margin-left: 6px;
      cursor: pointer;

      > div {
        display: inline-block;
        vertical-align: middle;
        > i {
          vertical-align: middle;
        }
        
      }

    }

    .dataDisplay {

      display: inline-block;

      .typeLabel {
        display: inline-block;
      }
      > span {
        font-weight: 500;
        margin-left: 6px;
      }
    }

  }

}

.bottomMonthNav {
  padding-top: 12px;
  width: 90%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.alerts {
  
  width: 90%;
  max-width: 600px;
  margin: auto;
  padding-bottom: 12px;

  .alert {
    
    padding: 12px;
    border: 1px solid #f0f0f0;
    position: relative;

    .message {
      width: calc(100% - 24px);
      text-align: center;
    }
  
    .dismiss {
      
      position: absolute;
      top: calc(50% - 13px);
      right: 12px;
      cursor: pointer;

    }

  }

}

