@import "../variables.scss";

.root {
  margin-bottom: 24px;  
}


.saveTransaction {
  
  width: 100%;
  display: flex;

  .amount {
    flex: 1 1 0;
    padding-left: 6px;
  }
  
  .description {
    flex: 1 1 0;
    padding-left: 12px;
  }

  .category {
    flex: 1 1 0;
    padding-left: 12px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
  }

  .submit {
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
  }

}

.transactions {
   
  width: 100%;
  display: flex;

  .income {
    flex-grow: 1;
    flex-basis: 0;
  }
  
  .expenses {
    flex-grow: 1;
    flex-basis: 0;
  }
  
  .transactionsList {
  }

}
