.root {
  background-color: #f0f0f0;
}

.repeatingTransactions {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: white;
  @media(min-width: 660px) {
    width: 50%;
  }
}

.repeatingSummary {
  width: 100%;
  text-align: center;
  padding-bottom: 8px;
}

.infoIcon {
  
  margin-left: 4px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  text-align: right;

  .infoSymbol {
    
    cursor: pointer;
    font-size: 16px;
    vertical-align: middle;
    margin-top: -2px;
    
    &:active ~ .infoPopup {
      opacity: 1;
    }
    
    &:hover ~ .infoPopup {
      opacity: 1;
    }

  }
   
  .goalsPopup {
    font-weight: 100;
    width: 200%;
    left: 0px;
  }

  .infoPopup {

    position: absolute;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    padding: 6px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms;

    .infoText {
      width: 100%;
      text-align: center;
      color: white;
      font-size: 14px;
    }

  }

}

.transactionHeaderContainer {
  background-color: white;
}

.transactionsHeader {
  
  width: 100%;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 8px;
  margin: auto;
  background-color: white;
  position: relative;
  
  @media(min-width: 660px) {
    max-width: 420px;
  }

  .transactionsLabel {
    margin-top: 12px;
    margin-left: 6px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    position: relative;
  }
  
  .transactionsSummary {
    
    display: inline-block;
    position: absolute;
    right: 12px;
    bottom: 0px;
    
    .dataValue {
      font-size: 28px;
      font-weight: 300;
    }

    .euroSign {
      margin-left: 4px;
    }

  }

}

.transactions {
   
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  background-color: #f0f0f0;

  .transactionsList {
    
    width: 100%; 
    max-width: 420px;
    margin: auto;

    .transactionBox {
      
      height: 36px;
      position: relative;
      width: calc(100% - 16px);
      margin: auto;
      text-align: right;

      &:hover {
        .transaction {
          left: -72px;
          top: -4px;
          width: 100%;
          height: 44px;
          z-index: 1;
        }
      }

    }

    .transaction {
    
      display: flex;
      position: absolute;
      width: calc(100% - 10px);
      top: 0px;
      left: 0px;
      height: 36px;
      background-color: white;
      padding-left: 6px;
      border: 1px solid #f0f0f0;
      align-items: center;
      text-align: center;

      transition: top 200ms, left 200ms, width 200ms, height 200ms;

      .txAmount {
        flex: 1 1;
        padding-left: 3%;
      }       
       
      .txCategory {
        flex: 2 1;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
      }       
      
      .txDescription {
        
        flex: 2 1;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        @media (max-width: 660px) {
          display: none;
        }

      }
      
      .txDate {
        
        flex: 2 1;
        text-align: right;

        > i {
          vertical-align: bottom;
          color: #e0e0e0;
        }

      }       
       
    }

    .txControls {
      
      display: inline-block;
      margin-right: 4px;
      color: #00bcd4;

      .txControlContainer {
        
        display: inline-block;
        vertical-align: super;
        margin-top: 3px;
        
        > div {
          padding-top: 3px;
          margin-right: 3px;
          cursor: pointer;
          display: inline-block;
        }
      }

    }
     
  }
  
  .newTransaction {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: calc(100% - 16px); 
    max-width: calc(420px - 16px);
  }

}

.categoriesHeader {
  
  width: 100%;
  padding-left: 6px;
  padding-top: 6px;
  margin-bottom: 6px;
  background-color: white;
  position: relative;

  .categoriesLabel {
    margin-top: 12px;
    margin-bottom: 8px;
    margin-left: 6px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    position: relative;
  }

}

.categoriesContainer {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  @media(min-width: 660px) {
    width: 49%;
  }
}

.categories {
  
  background-color: #f0f0f0;
  padding-bottom: 16px;
   
  .categoriesList {

    padding: 8px;
    width: 100%;
    max-width: 420px;
    margin: auto;

    .catTypeLabel {
      padding-top: 8px;
      font-weight: 300;
    }

    .category {
      
      display: inline-block;
      background-color: white;
      margin-left: 4px;
      margin-right: 4px;
      margin-top: 4px;
      margin-bottom: 4px;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 6px;
      padding-right: 6px;

      .catTitle {
        display: inline-block;
        padding-right: 6px;
        > span {
          vertical-align: middle;
        }
      }

      .catDelete {
        display: inline-block;
        > i {
          vertical-align: middle;
        }
      }

    }

  }

  .newCategory {
    
    width: calc(100% - 16px);

    display: flex;  

    .catInput {
      flex: 1 1 auto;
    }

    .catSubmit {
      flex: 0 0 auto;
      display: flex;
      align-items: flex-end;
      margin-bottom: 8px;
    }
  
  }

}

.goals {
  
  padding-bottom: 24px;
  background-color: white;

  .goalLabel {
    width: 100%;
    text-align: center;
    padding: 6px;
    background-color: #f0f0f0;
  }
  
  .goal {
    
    .goalRow {
      
      width: 100%;    
      display: flex;
 
      .finiteToggle {
        padding-left: 8px;
        padding-right: 4px;
        flex: 1 1;
      }

      .goalAmount {
        padding-left: 8px;
        padding-right: 4px;
        flex: 1 1;
      }
  
      .goalStart {
        flex: 2 1;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 8px;
      }

      .goalEnd {
        flex: 2 1; 
        padding-bottom: 8px;
        padding-left: 4px;
        padding-right: 8px;
      }

      .dropdownLabel {
        font-size: 12px;
        margin-top: 17px;
        margin-bottom: -12px;
      }

    }

  }

  .goalsSubmit {
    
    display: flex;
    padding: 8px;

    .editStatus {
      flex: 1 1;
      text-align: center;
    }
    
    .deleteButton {
      padding-left: 8px;
      padding-right: 8px;
      flex: 1 1;
    }

    .saveButton {
      padding-left: 8px;
      padding-right: 8px;
      flex: 1 1;
    } 

  }

}

