#forecastChart {
  margin-left: -12px;
}

#progressChart {
  margin-left: -12px;
}

#catLegend {
  text-align: initial;
  padding: 12px;
  max-width: 300px;
  margin: auto;
}

#progressLegend {
  text-align: initial;
  padding: 12px;
  display: flex;
  max-width: 300px;
  margin: auto;
}

.legend-item {
  width: 100%;
  cursor: pointer;
  font: 12px sans-serif;
}

@keyframes pulsate {
  0%  { transform: scale(1); }
  10%  { transform: scale(1); }
  20%  { transform: scale(1); }
  30%  { transform: scale(1); }
  40%  { transform: scale(1.2); }
  50%  { transform: scale(1); }
  60%  { transform: scale(1.2); }
  70%  { transform: scale(1); }
  80%  { transform: scale(1); }
  90%  { transform: scale(1); }
  100%  { transform: scale(1); }
}

.pulsar {
  animation: pulsate 3s infinite 3s;
}
