@import "../variables.scss";

.root {
  padding-top: 24px;
  padding-bottom: 24px;  
  max-width: 1000px;
  background-color: white;
  margin: auto;
}


.profile {
  
  width: 90%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  
  .profileTitle {
    font-weight: 600;
  }
  
  .profileImage {
    
    width: 100%;

    .imageCell {
      width: 100%;
      text-align: center;
      > img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
      }
    }

    .nameCell {
      width: 100%;
      text-align: center;
      padding-top: 12px;
    }

  }

  .profileRow {
      
    .profileCell {
      
      vertical-align: top;
           
      @media (min-width: 660px) {
        display: inline-block;
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
      }

      .textField {
        width: 100%;
      }
      
      .dropdownLabel {
        margin-bottom: -10px;
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        margin-left: 26px; 
      }
      
    }

  }

  .saveProfile {
    
    display: flex;
    
    .editStatus {
      flex: 1 1;
      text-align: center;
      > span {
        display: inline-block;
        margin-top: 18px;
      }
    }
    
    .saveButton {
      flex: 1 1;
      text-align: right;
      padding-top: 8px;
    }
  
  }

}

.password {

  width: 90%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;

  .passwordTitle {
  }
  
  .passwordInput {
    position: relative;
    a {
      text-decoration: none;
      color: black;
    }
  }

  .changePassword {
    
    display: flex;
    
    .pwdStatus {
      flex: 1 1 auto;
      padding-left: 1%;
      display: flex;
      align-items: center;
    }
    
    .changePwdButton {
      flex: 1 1 auto;
      text-align: right;
    }

  }

}

.deleteAccount {
  
  width: 90%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;

}

